<script setup lang="ts">
import { ref } from 'vue'
import axios from 'axios'
import { mdiAlertCircleOutline, mdiThumbUp } from '@mdi/js'
import { mdiThumbDown } from '@mdi/js'
const appleData = ref({
  size: undefined,
  weight: undefined,
  sweetness: undefined,
  crunchiness: undefined,
  juiciness: undefined,
  ripeness: undefined,
  acidity: undefined
})

const dialog = ref(false)

const appleQuality = ref('')

const predictAppleQuality = async () => {
  try {
    const response = await axios.post('http://127.0.0.1:8000/predict', appleData.value)
    appleQuality.value = response.data
    dialog.value = true
  } catch (error) {
    appleQuality.value = 'error'
    dialog.value = true
    console.error(error)
  }
}
</script>
<template>
  <v-container class="bg-container h-screen" fluid full-height>
    <v-card
      elevation="3"
      width="500px"
      height="620px"
      class="mx-auto pa-5"
      style="border-radius: 20px; margin-top: 200px"
    >
      <h2
        class="text-center"
        style="font-weight: bolder; font-family: Noto Sans Thai; color: #000000"
      >
        Apple Quality
      </h2>
      <v-card-text class="pa-5">
        <v-form>
          <v-text-field
            label="Size"
            v-model="appleData.size"
            variant="outlined"
            hide-details
            density="comfortable"
          ></v-text-field>
          <v-text-field
            class="mt-5"
            label="Weight"
            v-model="appleData.weight"
            variant="outlined"
            hide-details
            density="comfortable"
          ></v-text-field>
          <v-text-field
            class="mt-5"
            label="Sweetness"
            v-model="appleData.sweetness"
            variant="outlined"
            hide-details
            density="comfortable"
          ></v-text-field>
          <v-text-field
            class="mt-5"
            label="Crunchiness"
            v-model="appleData.crunchiness"
            variant="outlined"
            density="comfortable"
            hide-details
          ></v-text-field>
          <v-text-field
            class="mt-5"
            label="Juiciness"
            v-model="appleData.juiciness"
            variant="outlined"
            density="comfortable"
            hide-details
          ></v-text-field>
          <v-text-field
            class="mt-5"
            label="Ripeness"
            v-model="appleData.ripeness"
            variant="outlined"
            density="comfortable"
            hide-details
          ></v-text-field>
          <v-text-field
            class="mt-5"
            label="Acidity"
            v-model="appleData.acidity"
            variant="outlined"
            density="comfortable"
            hide-details
          ></v-text-field>
          <v-btn @click="predictAppleQuality()" color="red" style="width: 100%" class="mt-5"
            >Predict</v-btn
          >
          <!-- <div class="d-flex mt-5">
            <v-btn @click="predictAppleQuality" color="yellow">Predict</v-btn>
            <p class="my-auto ml-3" style="font-size: 20px">
              Apple Quality Is : {{ appleQuality }}
            </p>
          </div> -->
        </v-form>
      </v-card-text>
    </v-card>
  </v-container>
  <v-dialog v-model="dialog"
    ><v-card width="600" height="300" class="mx-auto pa-5" rounded="lg"
      ><v-row
        ><v-col cols="5" class="d-flex justify-center"
          ><v-icon size="150" class="my-auto" v-if="appleQuality === 'good'" color="green"
            >{{ mdiThumbUp }} </v-icon
          ><v-icon size="150" class="my-auto" v-if="appleQuality === 'bad'" color="red"
            >{{ mdiThumbDown }} </v-icon
          ><v-icon size="150" class="my-auto" v-if="appleQuality === 'error'" color="red"
            >{{ mdiAlertCircleOutline }}
          </v-icon></v-col
        ><v-col cols="7" style="align-items: center; display: flex; justify-content: center"
          ><h2 v-if="appleQuality !== 'error'">Apple quality is : {{ appleQuality }}</h2>
          <h2 v-else>Error</h2></v-col
        ></v-row
      ><v-card-actions class="d-flex justify-end"
        ><v-btn height="40" rounded="lg" @click="dialog = false">Close</v-btn></v-card-actions
      ></v-card
    ></v-dialog
  >
</template>
<style scoped>
.bg-container {
  background-image: url('https://cdn.discordapp.com/attachments/1001487076467953787/1224939907789881376/699847-red-apple-wallpapers-2880x1800-pc.png?ex=661f5130&is=660cdc30&hm=911ba01302aca2aa1dca21b7c6e62549ab310914e02d36ec8b0d7d4456930638&'); /* Use the imported image */
  background-size: cover;
  background-position: center;
  /* Other background styles */
}
</style>
